.logo{
    height: 3rem;
    
}
.logo img{
    height: 100%;
    margin-left: 1rem;
}


  .nav{
    font-family: var(--main-font);
    font-size: 18px;
    background-color:var(--main-white);
    height: 3rem;
    display: flex;
  
    align-items: center;
    }
.nav-links li{
list-style: none;
text-align: center;
margin: auto;
opacity: 0;

}
.nav li a{
    list-style: none;
    text-decoration: none;
    color: var(--main-white);
    font-weight: bold;
    /* background-color: var(--green); */
    }
.nav-links{
    position: absolute;
     top: 90px;
     right: 0;
     height: 92vh;
     top: 3rem;
     
     background-color: var(--green);
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 60%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
        }
.nav-active{
            transform: translateX(0%);
        }
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.burger{
    margin-left: auto;
    cursor: pointer;
   
    
}
 .burger div{
            width: 30px;
            margin: 5px;
            background-color: var(--green);
            height: 3px;
            transition: all 0.5s ease;
        }
 .cross .line1{
    transform: rotate(-45deg) translate(-5px,6px);
 }    
 .cross .line2{
    opacity: 0;
}  
.cross .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}   


        @media screen and (min-width:900px) {
            .burger{
                display: none;
            }
        
            .nav{
                font-family: var(--main-font);
                font-size: 18px;
                background-color:var(--main-white);
                height: 4rem;
              
                }
                .nav-links{
                    height: 4rem;
                    transform: translatex(0%);
                    flex-direction: row;
                    top: 0;
                   
                    background-color:var(--main-white);
                }
            .nav li{

            list-style: none;
            width: 150px;
            border-bottom: none;
            text-align: center;
            height: 100%;
           padding: 0px;
            margin: auto;
            opacity: 1;
            
            }
            
            nav li a:hover{
                background: var(--green);
            color: var(--main-white);
                
                }
            .nav li a{
                display: flex;
                list-style: none;
                text-decoration: none;
                color: var(--green);
                font-weight: bold;
                margin: auto;
                height: 100%;
                align-items: center;
                justify-content: center;
                }
            nav ul{
                 position: relative;
                 top: initial ;
                 display: flex;
                 align-items: center;
                    }
               
        }