*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-font: 'Roboto', sans-serif;
    letter-spacing: 2px;
  
  }
  *:focus {
    outline: none;
  }
@import "nav.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root{
    --main-font: 'Roboto', sans-serif;
    --green: #2C390E;
    --main-white: #FFFFFF;
  }
  body,html {
    overflow-x:hidden !important;
    }
 .wrapper{
     position: relative;
     width: 100%;
        overflow-x: hidden !important;
        }

.banner img{
    width: 100%;
}
